@model int 
<!-- Model'in int türünde olduğunu belirtiyoruz -->

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Test Projelerimmmm</h1>

<p>Controller'dan gelen değer: @Model</p> <!-- Controller'dan gelen "values" burada gösteriliyor,  @Model</p> values i bildirir.-->
